<form [formGroup]="prifileCreationForm" (submit)="onSavePost()" *ngIf="!isLoading">
            <br>
            <h1>PROFILE-INFO</h1>
            <hr>
            <input 
                type="file" 
                hidden 
                #profilePicture 
                (change)="onImagePicked($event)"
            />
            <div *ngIf="!imagePreview" (click)="profilePicture.click() " class="profile_pic">
                <p>profile pic</p>
            </div>
            <div class="profile_picPreview"
            *ngIf="imagePreview !== '' && imagePreview && prifileCreationForm.get('profileImage').valid">
                <img [src]="imagePreview" [alt]="prifileCreationForm.value.firstName">
            </div>
            <br>
           <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="firstName"
                    placeholder="First-name"
                />
           </mat-form-field>

            <mat-form-field>
                 <input 
                     type="text"
                     matInput
                     formControlName="middleName"
                     placeholder="Middle-name"
                 />
            </mat-form-field>

            <mat-form-field>
                 <input 
                     type="text"
                     matInput
                     formControlName="lastName"
                     placeholder="Last-name"
                 />
            </mat-form-field>
            <br>
            <mat-form-field>
                 <input 
                     type="text"
                     matInput
                     formControlName="email"
                     placeholder="E-Mail"
                 />
            </mat-form-field>

            <mat-form-field>
                 <input 
                     type="tel"
                     matInput
                     formControlName="mobileNumber"
                     placeholder="Mobile-Number"
                 />
            </mat-form-field>

            <mat-form-field>
                 <input 
                     type="tel"
                     matInput
                     formControlName="whatsAppNumber"
                     placeholder="WhatsApp-Number"
                 />
            </mat-form-field>
            <hr>
            <h1>ADDRESS</h1>
            <hr>
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="lineOne"
                    placeholder="Line-one"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="lineTwo"
                    placeholder="Line-Two"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="streetName"
                    placeholder="Street-Name"
                />
           </mat-form-field>
           <br>
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="state"
                    placeholder="State"
                />
           </mat-form-field>
     
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="country"
                    placeholder="Country"
                />
           </mat-form-field>
 
            <mat-form-field>
                <input 
                    type="number"
                    matInput
                    formControlName="zipCode"
                    placeholder="Zip-Code"
                />
           </mat-form-field>
           <hr>
            <h1>EDUCATION</h1>
            <hr>
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="collegeName"
                    placeholder="College-Name"
                />
           </mat-form-field>
 
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="courseName"
                    placeholder="Course-Name"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="date"
                    matInput
                    formControlName="graduationYear"
                    placeholder="Graduation-year"
                />
           </mat-form-field>
           <hr>
            <h2>Private-certifucation</h2>
          <hr>
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="certificateName"
                    placeholder="Certificate-Name"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="certificateCourseName"
                    placeholder="Course-Name"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="date"
                    matInput
                    formControlName="certifiedYear"
                    placeholder="Certified-year"
                />
           </mat-form-field>
           <hr>
            <h1>WORK-EXPERIENCE</h1>
           <hr>
            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="companyName"
                    placeholder="company-Name"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="text"
                    matInput
                    formControlName="jobRole"
                    placeholder="Job-Role"
                />
           </mat-form-field>
            <mat-form-field>
                <input 
                    type="number"
                    matInput
                    formControlName="duration"
                    placeholder="Duration"
                />
           </mat-form-field>
           <br>
            <mat-form-field>
                <input 
                    type="date"
                    matInput
                    formControlName="dateOfJoining"
                    placeholder="Date-of-joining"
                />
           </mat-form-field>
           <br>
            <mat-form-field>
                <input 
                    type="date"
                    matInput
                    formControlName="dateOfReleaving"
                    placeholder="Date-of-releaving"
                />
           </mat-form-field>

            <mat-form-field>
                <input 
                    type="number"
                    matInput
                    formControlName="noticePeriod"
                    placeholder="Notice-Period"
                />
           </mat-form-field>
           <hr>
            <h1>DECLARATION</h1>
            <hr>
            <mat-form-field>
                <textarea
                    type="text" 
                    formControlName="declaration"  
                    matInput 
                    placeholder="Declaration"
                ></textarea>
            </mat-form-field>
    <hr>
            <button 
                mat-raised-button 
                color="accent" 
                type="submit" >Save Profile
            </button>
 
</form>  

